//colors
$color_purple_mountains_majesty_approx: #8f78ad;
$black: black;
$white: white;
$color_affair_approx: #6b4e90;
$color_jagger_approx: #311557;
$color_violet_approx: #1c053a;

//fonts
$font_0: Palanquin Dark;
$font_1: sans-serif;
$font_2: Lora;
$font_3: serif;

body {
	text-align: center;
	vertical-align: middle;
	background-color: $color_purple_mountains_majesty_approx;
}
h1 {
	color: $black;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}
.container {
	background: $white;
	max-width: 1060px;
	min-height: 100px;
	margin: 10px auto;
	border: 5px solid $color_affair_approx;
	padding: 15px;
}
.wcontainer {
	background: $white;
	max-width: 860px;
	min-height: 130px;
	margin: 20px auto;
	border: 5px solid $color_affair_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	padding: 2px h2;
}
#c1 {
	color: $color_jagger_approx;
}
#c2 {
	color: $color_violet_approx;
}
#c3 {
	color: $color_affair_approx;
}
#c4 {
	color: $color_purple_mountains_majesty_approx;
}
#f1 {
	font-family: $font_0, $font_1;
}
#f2 {
	font-family: $font_2, $font_3;
}
h3 {
	font-family: $font_2, $font_3;
	color: $color_jagger_approx;
}
h4 {
	font-family: $font_0, $font_1;
	color: $color_violet_approx;
}